*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.content{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(188, 116, 255);
}